body {
            font-family: Arial, sans-serif;
            background: #f4f6f9;
            margin: 0;
            padding: 20px;
        }

        h1 {
            text-align: center;
            color: #333;
            margin-bottom: 30px;
        }

        table {
            width: 60%;
            margin: 0 auto;
            border-collapse: collapse;
            background: #fff;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            border-radius: 10px;
            overflow: hidden;
        }

        td {
            padding: 12px 15px;
            border-bottom: 1px solid #ddd;
        }

        tr:last-child td {
            border-bottom: none;
        }

        td:first-child {
            font-weight: bold;
            color: #444;
            width: 20%;
        }

        a {
            text-decoration: none;
            color: #0077b5; 
            font-weight: 500;
        }

        a:hover {
            color: #005582;
            text-decoration: underline;
        }
        .C1 a button{
            background-color: #b6dbef;
            border-radius: 5px;
            font-weight: 700;
            color: #393a3b;
            
        }
        .C1 a button:hover{
            transform: scaleY(1.1);
            background-color: #0077b5;
            color: #f4f6f9;
            transition: 1s;
        }
        .C2 a button{
            background-color: #7b7878;
            border-radius: 5px;
            color: rgb(231, 228, 223);
            font-weight: 700;

        }
        .C2 a button:hover{
            background-color: #f8990c;
            transform: scaleY(1.1);
            transition: 1s;
            color: rgb(0, 0, 0);
        }
        .icon-btn img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: transform 0.3s, box-shadow 0.3s;
        }